Instagram + Facebook Auto Post image
{
  "name": "Instagram + Facebook Auto Post",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/stabilityai/stable-diffusion-xl-base-1.0",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{ $json.output }}\"\n} \n",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "45d4e9a2-3edb-4fda-b8cb-239b5b0dc19a",
      "name": "Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        448,
        -96
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "captionText",
              "value": "Hello from n8n 🚀 Auto post on Instagram & Facebook Postimages"
            },
            {
              "name": "igId",
              "value": "17841480689862810"
            },
            {
              "name": "pageId",
              "value": "937690489434300"
            },
            {
              "name": "imageUrl",
              "value": "={{ $json.data.url }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Data1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        880,
        -96
      ],
      "id": "8e8ddbed-d59b-40c0-834e-48178ed2b340"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $json.igId }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $json.captionText }}"
              },
              {
                "name": "media_type",
                "value": "IMAGE"
              },
              {
                "name": "image_url",
                "value": "={{ $json.imageUrl }}"
              }
            ]
          }
        }
      },
      "name": "Create IG Media1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1120,
        -96
      ],
      "id": "ded7e423-46d4-4d1e-9c82-48300539065a",
      "credentials": {
        "facebookGraphApi": {
          "id": "hoPx44NdCGA1LTjw",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $('Set Data1').item.json.igId }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "name": "Publish Instagram1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1328,
        -96
      ],
      "id": "0151f544-b49c-4072-ac95-7fb896bc5db0",
      "credentials": {
        "facebookGraphApi": {
          "id": "hoPx44NdCGA1LTjw",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiration",
              "value": "600"
            },
            {
              "name": "key",
              "value": "159aac7e4d004c187483b614af713c20"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        -96
      ],
      "id": "9a7c87bc-0481-45a1-bb4d-9f23b40b7de7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a prompt engineer.\nThe user gives ONE word.\nGenerate a cinematic, ultra-realistic, 4K image prompt in ONE single line.\nDo not use line breaks.\nOutput only the prompt text.\nTopic: {{ $json.body.word }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -96
      ],
      "id": "3439524b-7a8b-4add-8102-fe9be838bdea",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        80
      ],
      "id": "47a26828-aab0-4511-a39a-dd118a293b9f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "V2qBI5y3KqOcCH8D",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $('Set Data1').item.json.pageId }}",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $('Set Data1').item.json.imageUrl }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Set Data1').item.json.captionText }}"
              }
            ]
          }
        }
      },
      "name": "Post to Facebook Page",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1328,
        64
      ],
      "id": "aec3e96a-59f1-4dec-91e0-d0dd0993a73f",
      "credentials": {
        "facebookGraphApi": {
          "id": "hoPx44NdCGA1LTjw",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        -96
      ],
      "id": "855a09f2-7594-4ad7-892c-c686552c0d86",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Set Data1": {
      "main": [
        [
          {
            "node": "Create IG Media1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IG Media1": {
      "main": [
        [
          {
            "node": "Publish Instagram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Facebook Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook Page": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "126bc9d2-d6dc-455c-8174-a4c2d769cc93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b75c4eda5b9b95c4f631c7dfa495380fa9d35cc1692b4cff0bf595b3fe347564"
  },
  "id": "pLF-Gy6OoaBZnK83rmfU_",
  "tags": []
}
